@model BulkyBook.Models.ApplicationUser
    <span>
        @if (!string.IsNullOrEmpty(Model.ProfilePhoto))
        {
            <img src="@Model.ProfilePhoto" alt="">

        }
        else
        {
            <img src="~/images/dummyprofile/maleprofile.jpg" />
        }
    </span> Hi, @Model.FirstName @Model.LastName!