@model BulkyBook.Models.ViewModels.CompanyVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Company";
}


<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Company.Id != 0)
        {
            //edit
            title = "Edit Company";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.Name" class="form-control" />
                    <span asp-validation-for="Company.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.ParentCorporation"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.ParentCorporation" class="form-control" />
                    <span asp-validation-for="Company.ParentCorporation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Business Type
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Company.BusinessTypeId, Model.BusinessTypeList, "-Select a Business Type",
                   new { @class = "form-control" })
                    <span asp-validation-for="Company.BusinessTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Industry Type
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Company.CategoryId, Model.PrimaryCategoryList, "-Select a Industry Type",
                   new { @class = "form-control" })
                    <span asp-validation-for="Company.CategoryId" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.DateOfRegistered"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.DateOfRegistered" class="form-control" />
                    <span asp-validation-for="Company.DateOfRegistered" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.GSTNo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.GSTNo" class="form-control" />
                    <span asp-validation-for="Company.GSTNo" class="text-danger"></span>
                </div>
            </div>*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.Description" class="form-control" />
                    <span asp-validation-for="Company.Description" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.IsAuthorizedCompany"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="Company.IsAuthorizedCompany" class="form-control" />
                </div>
            </div>*@
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Company.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Company.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}